.form-container {
    width: 50vw;
    height: 75vh;
    background-color: var(--colour-primary);
    color: var(--colour-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

form {
    margin-top: 5%;
}

.input-container {
    background-color: var(--colour-secondary);
    padding: 10px;
    border: 4px solid var(--colour-tertiary);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.username, .password { 
    margin-bottom: 6%;
}

.form-label { 
    font-size: 1.25em;
}

.form-control {
    font-size: 1.25em;
    border: none;
    padding: 0 10px;
    width: 50%;
    background-color: var(--colour-neutral);
    color: var(--colour-secondary);
    border-radius: 5px;
}

.form-control:focus {
    outline: 3px solid var(--colour-tertiary);
    caret-color: var(--colour-tertiary);
}

.login-submit-btn {
    padding: 10px;
    font: bold 1.25em sans-serif;
    border: 2px solid var(--colour-secondary);
    border-radius: 10px;
    background-color: var(--colour-tertiary);
    cursor: pointer;
}

.login-submit-btn:hover,
.login-submit-btn:focus {
    border-color: var(--colour-neutral);
}