.quiz {
    width: 50svw;
    height: 75vh;
    background-color: #83C5BE;
    color: #EDF6F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

.quiz-question {
    width: 60%;
    margin: 5% auto;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #006D77;
    border: 4px solid #FFDDD2;
    border-radius: 15px;
}

.question-text {
    font-size: 2.5em;
}

.answer {
    padding: 0 10px;
    width: 35%;
    font-size: 2.5em;
    border: none;
    background-color: #FFDDD2;
    color: #006D77;
    border-radius: 5px;
}

.answer:focus {
    outline: 3px solid #E29578;
    caret-color: #E29578;
}

.answer-btn {
    padding: 10px;
    font: bold 1.25em sans-serif;
    border: 2px solid #006D77;
    border-radius: 10px;
    background-color: #E29578;
    cursor: pointer;
}

.answer-btn:hover,
.answer-btn:focus {
    border-color: #FFDDD2;
}